In [1]:
import pandas as pd
import numpy as np

In [2]:
# read quotes file (containing data for all companies listed in american markets, or al least it is supposed)
quotes_all = pd.read_csv('american_markets_quotes.csv')

In [3]:
quotes_all

,datetime,open_price,close_price,high_price,low_price,volume,symbol
0,2016-02-16T00:00:00Z,36.72,37.08,37.17,36.4000,2903649,A
1,2016-02-17T00:00:00Z,35.22,37.87,38.13,34.7500,5382312,A
2,2016-02-18T00:00:00Z,37.73,37.19,37.96,37.0900,2231481,A
3,2016-02-19T00:00:00Z,36.90,37.44,37.60,36.8500,2339426,A
4,2016-02-22T00:00:00Z,37.82,38.03,38.19,37.7800,1792962,A
...,...,...,...,...,...,...,...
7801915,2021-02-08T00:00:00Z,19.28,19.99,20.47,19.2183,589014,ZYXI
7801916,2021-02-09T00:00:00Z,20.04,19.99,20.30,19.5000,300062,ZYXI
7801917,2021-02-10T00:00:00Z,20.45,19.51,20.53,19.0300,399141,ZYXI
7801918,2021-02-11T00:00:00Z,19.40,19.28,19.70,18.5201,322271,ZYXI
7801919,2021-02-12T00:00:00Z,19.17,19.45,19.69,18.8400,217695,ZYXI

In [4]:
quotes_all.dtypes

datetime        object
open_price     float64
close_price    float64
high_price     float64
low_price      float64
volume           int64
symbol          object
dtype: object

In [5]:
quotes_all.isna().sum()

datetime       0
open_price     0
close_price    0
high_price     0
low_price      0
volume         0
symbol         0
dtype: int64

In [6]:
quotes_all = quotes_all.drop(['high_price','low_price'], axis=1)  # useless columns for analysis

In [7]:
quotes_all['symbol'].nunique()  # number of listed companies

6192

In [8]:
sp500_companies= pd.read_csv('sp500_companies.csv')  # DataFrame with list of S&P500 companies and sector

In [9]:
sp500_companies

,SYMBOL,COMPANY,SECTOR,SUB-INDUSTRY
0,A,Agilent Technologies,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple,Information Technology,"Technology Hardware, Storage & Peripherals"
4,ABBV,AbbVie,Health Care,Pharmaceuticals
...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,Restaurants
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [10]:
cols = []
for i in range(len(sp500_companies.columns)):
    cols.append(sp500_companies.columns[i].lower())
sp500_companies.columns = cols

In [11]:
len(sp500_companies['symbol'])  # number of companies

505

In [12]:
sp500_quotes=quotes_all[quotes_all['symbol'].isin(sp500_companies['symbol'])]   # filtering quotes of S&P500 companies only

In [13]:
sp500_quotes

                     datetime  open_price  close_price   volume symbol
0        2016-02-16T00:00:00Z       36.72        37.08  2903649      A
1        2016-02-17T00:00:00Z       35.22        37.87  5382312      A
2        2016-02-18T00:00:00Z       37.73        37.19  2231481      A
3        2016-02-19T00:00:00Z       36.90        37.44  2339426      A
4        2016-02-22T00:00:00Z       37.82        38.03  1792962      A
...                       ...         ...          ...      ...    ...
7794355  2021-02-08T00:00:00Z      160.40       160.02  1625162    ZTS
7794356  2021-02-09T00:00:00Z      159.81       159.83  1852838    ZTS
7794357  2021-02-10T00:00:00Z      161.25       160.62  1745976    ZTS
7794358  2021-02-11T00:00:00Z      161.15       164.44  1860345    ZTS
7794359  2021-02-12T00:00:00Z      163.61       166.71  2188658    ZTS

[628740 rows x 5 columns]

In [14]:
sp500_quotes['symbol'].nunique()  # 6 companies with quotes missed

499

In [15]:
symbols_sp500=sp500_companies['symbol'].tolist()
symbols=(sp500_quotes['symbol'].unique()).tolist()

In [16]:
missing_companies=[]
for i in range(len(symbols_sp500)):
    if symbols_sp500[i] not in symbols:
        missing_companies.append(symbols_sp500[i])

In [17]:
missing_companies   # low weight in index (<0.04%), except for BRK.B (1.52%)

['BBWI', 'BF.B', 'BRK.B', 'CTRA', 'OGN', 'WTW']

In [18]:
sp500_companies[sp500_companies['symbol'].isin(missing_companies)]

,symbol,company,sector,sub-industry
56,BBWI,Bath & Body Works,Consumer Discretionary,Specialty Stores
60,BF.B,Brown Forman,Consumer Staples,Distillers & Vintners
70,BRK.B,Berkshire Hathaway,Financials,Multi-Sector Holdings
119,CTRA,Coterra,Energy,Oil & Gas Exploration & Production
348,OGN,Organon & Co.,Health Care,Pharmaceuticals
492,WTW,Willis Towers Watson,Financials,Insurance Brokers

In [19]:
sp500_companies['sector'].value_counts()   # number of companies by sector

Information Technology    75
Industrials               73
Financials                67
Health Care               64
Consumer Discretionary    61
Consumer Staples          32
Real Estate               29
Utilities                 28
Materials                 28
Communication Services    27
Energy                    21
Name: sector, dtype: int64

In [20]:
import re

In [21]:
sp500_quotes['datetime'] = sp500_quotes['datetime'].apply(lambda x :re.findall('\d{4}-\d{2}-\d{2}', x)[0])

C:\Users\Usuario\AppData\Local\Temp/ipykernel_3216/953539122.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sp500_quotes['datetime'] = sp500_quotes['datetime'].apply(lambda x :re.findall('\d{4}-\d{2}-\d{2}', x)[0])

In [22]:
sp500_quotes = sp500_quotes.rename(columns={'datetime':'date'})

In [23]:
# Only complete quarters are usefull
sp500_quotes=sp500_quotes[(sp500_quotes['date']>'2016-03-31') & (sp500_quotes['date']<'2021-01-01')]

In [24]:
sp500_quotes

               date  open_price  close_price   volume symbol
32       2016-04-01       39.56        40.31  2857844      A
33       2016-04-04       40.33        40.01  2958061      A
34       2016-04-05       39.73        39.26  1900659      A
35       2016-04-06       39.17        40.24  1566612      A
36       2016-04-07       39.70        39.47  1373839      A
...             ...         ...          ...      ...    ...
7794326  2020-12-24      159.92       160.72   417444    ZTS
7794327  2020-12-28      161.44       162.39  1522435    ZTS
7794328  2020-12-29      163.21       163.12  1188357    ZTS
7794329  2020-12-30      163.51       164.27  1008988    ZTS
7794330  2020-12-31      164.50       165.50  1292649    ZTS

[598301 rows x 5 columns]

In [25]:
import pymysql
from sqlalchemy import create_engine

In [26]:
import getpass
password = getpass.getpass()

········

In [27]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sp500'
engine = create_engine(connection_string)

In [28]:
# saving quotes for sp500 in data base 'sp500'
sp500_quotes.to_sql('quotes', engine)

In [29]:
sp500_companies= pd.read_csv('sp500_companies.csv')

In [30]:
# saving companies information in data base 'sp500'
sp500_companies.to_sql('companies', engine)