In [1]:
import pandas as pd
import numpy as np

In [2]:
quotes_all = pd.read_csv('american_markets_quotes.csv')

In [3]:
quotes_all

,datetime,open_price,close_price,high_price,low_price,volume,symbol
0,2016-02-16T00:00:00Z,36.72,37.08,37.17,36.4000,2903649,A
1,2016-02-17T00:00:00Z,35.22,37.87,38.13,34.7500,5382312,A
2,2016-02-18T00:00:00Z,37.73,37.19,37.96,37.0900,2231481,A
3,2016-02-19T00:00:00Z,36.90,37.44,37.60,36.8500,2339426,A
4,2016-02-22T00:00:00Z,37.82,38.03,38.19,37.7800,1792962,A
...,...,...,...,...,...,...,...
7801915,2021-02-08T00:00:00Z,19.28,19.99,20.47,19.2183,589014,ZYXI
7801916,2021-02-09T00:00:00Z,20.04,19.99,20.30,19.5000,300062,ZYXI
7801917,2021-02-10T00:00:00Z,20.45,19.51,20.53,19.0300,399141,ZYXI
7801918,2021-02-11T00:00:00Z,19.40,19.28,19.70,18.5201,322271,ZYXI
7801919,2021-02-12T00:00:00Z,19.17,19.45,19.69,18.8400,217695,ZYXI

In [4]:
quotes_all.dtypes

datetime        object
open_price     float64
close_price    float64
high_price     float64
low_price      float64
volume           int64
symbol          object
dtype: object

In [5]:
quotes_all.isna().sum()

datetime       0
open_price     0
close_price    0
high_price     0
low_price      0
volume         0
symbol         0
dtype: int64

In [6]:
quotes_all = quotes_all.drop(['high_price','low_price'], axis=1)

In [7]:
quotes_all['symbol'].nunique()

6192

In [8]:
sp500_companies= pd.read_csv('sp500_companies.csv')

In [9]:
sp500_companies

,SYMBOL,COMPANY,SECTOR,SUB-INDUSTRY
0,A,Agilent Technologies,Health Care,Health Care Equipment
1,AAL,American Airlines Group,Industrials,Airlines
2,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail
3,AAPL,Apple,Information Technology,"Technology Hardware, Storage & Peripherals"
4,ABBV,AbbVie,Health Care,Pharmaceuticals
...,...,...,...,...
500,YUM,Yum! Brands,Consumer Discretionary,Restaurants
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
502,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals

In [10]:
sp500_companies = sp500_companies.drop(['SUB-INDUSTRY'], axis=1)
cols = []
for i in range(len(sp500_companies.columns)):
    cols.append(sp500_companies.columns[i].lower())
sp500_companies.columns = cols

In [11]:
len(sp500_companies['symbol'])

505

In [12]:
sp500_quotes=quotes_all[quotes_all['symbol'].isin(sp500_companies['symbol'])]

In [13]:
sp500_quotes

                     datetime  open_price  close_price   volume symbol
0        2016-02-16T00:00:00Z       36.72        37.08  2903649      A
1        2016-02-17T00:00:00Z       35.22        37.87  5382312      A
2        2016-02-18T00:00:00Z       37.73        37.19  2231481      A
3        2016-02-19T00:00:00Z       36.90        37.44  2339426      A
4        2016-02-22T00:00:00Z       37.82        38.03  1792962      A
...                       ...         ...          ...      ...    ...
7794355  2021-02-08T00:00:00Z      160.40       160.02  1625162    ZTS
7794356  2021-02-09T00:00:00Z      159.81       159.83  1852838    ZTS
7794357  2021-02-10T00:00:00Z      161.25       160.62  1745976    ZTS
7794358  2021-02-11T00:00:00Z      161.15       164.44  1860345    ZTS
7794359  2021-02-12T00:00:00Z      163.61       166.71  2188658    ZTS

[628740 rows x 5 columns]

In [14]:
sp500_quotes['symbol'].nunique()

499

In [15]:
symbols_sp500=sp500_companies['symbol'].tolist()
symbols=(sp500_quotes['symbol'].unique()).tolist()

In [16]:
missing_companies=[]
for i in range(len(symbols_sp500)):
    if symbols_sp500[i] not in symbols:
        missing_companies.append(symbols_sp500[i])

In [17]:
missing_companies

['BBWI', 'BF.B', 'BRK.B', 'CTRA', 'OGN', 'WTW']

In [18]:
sp500_companies[sp500_companies['symbol'].isin(missing_companies)]

    symbol               company                  sector
56    BBWI     Bath & Body Works  Consumer Discretionary
60    BF.B          Brown Forman        Consumer Staples
70   BRK.B    Berkshire Hathaway              Financials
119   CTRA               Coterra                  Energy
348    OGN         Organon & Co.             Health Care
492    WTW  Willis Towers Watson              Financials

In [19]:
sp500_weights= pd.read_csv('sp500_weights.csv')

In [20]:
sp500_weights['symbol'].nunique()

505

In [21]:
sp500_weights['weight'].sum()

99.99996100000001

In [22]:
symbols_sp500=sp500_companies['symbol'].tolist()
symbols=(sp500_weights['symbol'].unique()).tolist()

In [23]:
missing_companies=[]
for i in range(len(symbols_sp500)):
    if symbols_sp500[i] not in symbols:
        missing_companies.append(symbols_sp500[i])

In [24]:
missing_companies

[]

In [25]:
sp500=pd.merge(left =   sp500_quotes,
                        right = sp500_companies,
                        how = 'inner', 
                        left_on = "symbol", 
                        right_on= "symbol")

In [26]:
sp500

,datetime,open_price,close_price,volume,symbol,company,sector
0,2016-02-16T00:00:00Z,36.72,37.08,2903649,A,Agilent Technologies,Health Care
1,2016-02-17T00:00:00Z,35.22,37.87,5382312,A,Agilent Technologies,Health Care
2,2016-02-18T00:00:00Z,37.73,37.19,2231481,A,Agilent Technologies,Health Care
3,2016-02-19T00:00:00Z,36.90,37.44,2339426,A,Agilent Technologies,Health Care
4,2016-02-22T00:00:00Z,37.82,38.03,1792962,A,Agilent Technologies,Health Care
...,...,...,...,...,...,...,...
628735,2021-02-08T00:00:00Z,160.40,160.02,1625162,ZTS,Zoetis,Health Care
628736,2021-02-09T00:00:00Z,159.81,159.83,1852838,ZTS,Zoetis,Health Care
628737,2021-02-10T00:00:00Z,161.25,160.62,1745976,ZTS,Zoetis,Health Care
628738,2021-02-11T00:00:00Z,161.15,164.44,1860345,ZTS,Zoetis,Health Care
628739,2021-02-12T00:00:00Z,163.61,166.71,2188658,ZTS,Zoetis,Health Care

In [31]:
sp500=pd.merge(left =   sp500,
                        right = sp500_weights,
                        how = 'inner', 
                        left_on = "symbol", 
                        right_on= "symbol")

In [36]:
sp500['company_y'].unique()

array(['Agilent Technologies Inc.', 'American Airlines Group Inc.',
       'Advance Auto Parts Inc.', 'Apple Inc.', 'AbbVie Inc.',
       'AmerisourceBergen Corporation', 'ABIOMED Inc.',
       'Abbott Laboratories', 'Accenture Plc Class A', 'Adobe Inc.',
       'Analog Devices Inc.', 'Archer-Daniels-Midland Company',
       'Automatic Data Processing Inc.', 'Autodesk Inc.',
       'Ameren Corporation', 'American Electric Power Company Inc.',
       'AES Corporation', 'Aflac Incorporated',
       'American International Group Inc.', 'Assurant Inc.',
       'Arthur J. Gallagher & Co.', 'Akamai Technologies Inc.',
       'Albemarle Corporation', 'Align Technology Inc.',
       'Alaska Air Group Inc.', 'Allstate Corporation', 'Allegion PLC',
       'Applied Materials Inc.', 'Amcor PLC',
       'Advanced Micro Devices Inc.', 'AMETEK Inc.', 'Amgen Inc.',
       'Ameriprise Financial Inc.', 'American Tower Corporation',
       'Amazon.com Inc.', 'Arista Networks Inc.', 'ANSYS Inc.',
       'Anthem Inc.', 'Aon Plc Class A', 'A. O. Smith Corporation',
       'APA Corp.', 'Air Products and Chemicals Inc.',
       'Amphenol Corporation Class A', 'Aptiv PLC',
       'Alexandria Real Estate Equities Inc.', 'Atmos Energy Corporation',
       'Activision Blizzard Inc.', 'AvalonBay Communities Inc.',
       'Broadcom Inc.', 'Avery Dennison Corporation',
       'American Water Works Company Inc.', 'American Express Company',
       'AutoZone Inc.', 'Boeing Company', 'Bank of America Corp',
       'Baxter International Inc.', 'Best Buy Co. Inc.',
       'Becton Dickinson and Company', 'Franklin Resources Inc.',
       'Biogen Inc.', 'Bio-Rad Laboratories Inc. Class A',
       'Bank of New York Mellon Corporation', 'Booking Holdings Inc.',
       'Baker Hughes Company Class A', 'BlackRock Inc.',
       'Ball Corporation', 'Bristol-Myers Squibb Company',
       'Broadridge Financial Solutions Inc.', 'Brown & Brown Inc.',
       'Boston Scientific Corporation', 'BorgWarner Inc.',
       'Boston Properties Inc.', 'Citigroup Inc.', 'Conagra Brands Inc.',
       'Cardinal Health Inc.', 'Carrier Global Corp.', 'Caterpillar Inc.',
       'Chubb Limited', 'Cboe Global Markets Inc',
       'CBRE Group Inc. Class A', 'Crown Castle International Corp',
       'Carnival Corporation', 'Ceridian HCM Holding Inc.',
       'Cadence Design Systems Inc.', 'CDW Corp.', 'Celanese Corporation',
       'Cerner Corporation', 'CF Industries Holdings Inc.',
       'Citizens Financial Group Inc.', 'Church & Dwight Co. Inc.',
       'C.H. Robinson Worldwide Inc.',
       'Charter Communications Inc. Class A', 'Cigna Corporation',
       'Cincinnati Financial Corporation', 'Colgate-Palmolive Company',
       'Clorox Company', 'Comerica Incorporated',
       'Comcast Corporation Class A', 'CME Group Inc. Class A',
       'Chipotle Mexican Grill Inc.', 'Cummins Inc.',
       'CMS Energy Corporation', 'Centene Corporation',
       'CenterPoint Energy Inc.', 'Capital One Financial Corporation',
       'Cooper Companies Inc.', 'ConocoPhillips',
       'Costco Wholesale Corporation', 'Campbell Soup Company',
       'Copart Inc.', 'Charles River Laboratories International Inc.',
       'salesforce.com inc.', 'Cisco Systems Inc.', 'CSX Corporation',
       'Cintas Corporation', 'Catalent Inc',
       'Cognizant Technology Solutions Corporation Class A',
       'Corteva Inc', 'Citrix Systems Inc.', 'CVS Health Corporation',
       'Chevron Corporation', 'Caesars Entertainment Inc',
       'Dominion Energy Inc', 'Delta Air Lines Inc.',
       'DuPont de Nemours Inc.', 'Deere & Company',
       'Discover Financial Services', 'Dollar General Corporation',
       'Quest Diagnostics Incorporated', 'D.R. Horton Inc.',
       'Danaher Corporation', 'Walt Disney Company',
       'Discovery Inc. Class A', 'Discovery Inc. Class C',
       'DISH Network Corporation Class A', 'Digital Realty Trust Inc.',
       'Dollar Tree Inc.', 'Dover Corporation', 'Dow Inc.',
       "Domino's Pizza Inc.", 'Duke Realty Corporation',
       'Darden Restaurants Inc.', 'DTE Energy Company',
       'Duke Energy Corporation', 'DaVita Inc.',
       'Devon Energy Corporation', 'DXC Technology Co.', 'DexCom Inc.',
       'Electronic Arts Inc.', 'eBay Inc.', 'Ecolab Inc.',
       'Consolidated Edison Inc.', 'Equifax Inc.', 'Edison International',
       'Estee Lauder Companies Inc. Class A', 'Eastman Chemical Company',
       'Emerson Electric Co.', 'Enphase Energy Inc.',
       'EOG Resources Inc.', 'EPAM Systems Inc.', 'Equinix Inc.',
       'Equity Residential', 'Eversource Energy',
       'Essex Property Trust Inc.', 'Eaton Corp. Plc',
       'Entergy Corporation', 'Etsy Inc.', 'Evergy Inc.',
       'Edwards Lifesciences Corporation', 'Exelon Corporation',
       'Expeditors International of Washington Inc.',
       'Expedia Group Inc.', 'Extra Space Storage Inc.',
       'Ford Motor Company', 'Diamondback Energy Inc.',
       'Fastenal Company', 'Meta Platforms Inc. Class A',
       'Fortune Brands Home & Security Inc.', 'Freeport-McMoRan Inc.',
       'FactSet Research Systems Inc.', 'FedEx Corporation',
       'FirstEnergy Corp.', 'F5 Inc.',
       'Fidelity National Information Services Inc.', 'Fiserv Inc.',
       'Fifth Third Bancorp', 'FLEETCOR Technologies Inc.',
       'FMC Corporation', 'Fox Corporation Class B',
       'Fox Corporation Class A', 'First Republic Bank',
       'Federal Realty Investment Trust', 'Fortinet Inc.',
       'Fortive Corp.', 'General Dynamics Corporation',
       'General Electric Company', 'Gilead Sciences Inc.',
       'General Mills Inc.', 'Globe Life Inc.', 'Corning Inc',
       'General Motors Company', 'Generac Holdings Inc.',
       'Alphabet Inc. Class C', 'Alphabet Inc. Class A',
       'Genuine Parts Company', 'Global Payments Inc.', 'Gap Inc.',
       'Garmin Ltd.', 'Goldman Sachs Group Inc.', 'W.W. Grainger Inc.',
       'Halliburton Company', 'Hasbro Inc.',
       'Huntington Bancshares Incorporated', 'HCA Healthcare Inc',
       'Home Depot Inc.', 'Hess Corporation',
       'Hartford Financial Services Group Inc.',
       'Huntington Ingalls Industries Inc.',
       'Hilton Worldwide Holdings Inc', 'Hologic Inc.',
       'Honeywell International Inc.', 'Hewlett Packard Enterprise Co.',
       'HP Inc.', 'Hormel Foods Corporation', 'Henry Schein Inc.',
       'Host Hotels & Resorts Inc.', 'Hershey Company', 'Humana Inc.',
       'Howmet Aerospace Inc.',
       'International Business Machines Corporation',
       'Intercontinental Exchange Inc.', 'IDEXX Laboratories Inc.',
       'IDEX Corporation', 'International Flavors & Fragrances Inc.',
       'Illumina Inc.', 'Incyte Corporation', 'IHS Markit Ltd.',
       'Intel Corporation', 'Intuit Inc.', 'International Paper Company',
       'Interpublic Group of Companies Inc.', 'IPG Photonics Corporation',
       'IQVIA Holdings Inc', 'Ingersoll Rand Inc.', 'Iron Mountain Inc.',
       'Intuitive Surgical Inc.', 'Gartner Inc.',
       'Illinois Tool Works Inc.', 'Invesco Ltd.',
       'Jacobs Engineering Group Inc.',
       'J.B. Hunt Transport Services Inc.',
       'Johnson Controls International plc',
       'Jack Henry & Associates Inc.', 'Johnson & Johnson',
       'Juniper Networks Inc.', 'JPMorgan Chase & Co.', 'Kellogg Company',
       'KeyCorp', 'Keysight Technologies Inc', 'Kraft Heinz Company',
       'Kimco Realty Corporation', 'KLA Corporation',
       'Kimberly-Clark Corporation', 'Kinder Morgan Inc Class P',
       'CarMax Inc.', 'Coca-Cola Company', 'Kroger Co.',
       'Loews Corporation', 'Leidos Holdings Inc.',
       'Lennar Corporation Class A',
       'Laboratory Corporation of America Holdings',
       'L3Harris Technologies Inc', 'Linde plc', 'LKQ Corporation',
       'Eli Lilly and Company', 'Lockheed Martin Corporation',
       'Lincoln National Corporation', 'Alliant Energy Corp',
       "Lowe's Companies Inc.", 'Lam Research Corporation',
       'Lumen Technologies Inc.', 'Southwest Airlines Co.',
       'Las Vegas Sands Corp.', 'Lamb Weston Holdings Inc.',
       'LyondellBasell Industries NV', 'Live Nation Entertainment Inc.',
       'Mastercard Incorporated Class A',
       'Mid-America Apartment Communities Inc.',
       'Marriott International Inc. Class A', 'Masco Corporation',
       "McDonald's Corporation", 'Microchip Technology Incorporated',
       'McKesson Corporation', "Moody's Corporation",
       'Mondelez International Inc. Class A', 'Medtronic Plc',
       'MetLife Inc.', 'MGM Resorts International',
       'Mohawk Industries Inc.', 'McCormick & Company Incorporated',
       'MarketAxess Holdings Inc.', 'Martin Marietta Materials Inc.',
       'Marsh & McLennan Companies Inc.', '3M Company',
       'Monster Beverage Corporation', 'Altria Group Inc',
       'Mosaic Company', 'Marathon Petroleum Corporation',
       'Monolithic Power Systems Inc.', 'Merck & Co. Inc.',
       'Moderna Inc.', 'Marathon Oil Corporation', 'Morgan Stanley',
       'MSCI Inc. Class A', 'Microsoft Corporation',
       'Motorola Solutions Inc.', 'M&T Bank Corporation',
       'Match Group Inc.', 'Mettler-Toledo International Inc.',
       'Micron Technology Inc.', 'Norwegian Cruise Line Holdings Ltd.',
       'Nasdaq Inc.', 'NextEra Energy Inc.', 'Newmont Corporation',
       'Netflix Inc.', 'NiSource Inc', 'NIKE Inc. Class B',
       'NortonLifeLock Inc.', 'Nielsen Holdings Plc',
       'Northrop Grumman Corporation', 'ServiceNow Inc.',
       'NRG Energy Inc.', 'Norfolk Southern Corporation', 'NetApp Inc.',
       'Northern Trust Corporation', 'Nucor Corporation',
       'NVIDIA Corporation', 'NVR Inc.', 'Newell Brands Inc',
       'News Corporation Class B', 'News Corporation Class A',
       'NXP Semiconductors NV', 'Realty Income Corporation',
       'Old Dominion Freight Line Inc.', 'ONEOK Inc.',
       'Omnicom Group Inc', 'Oracle Corporation',
       "O'Reilly Automotive Inc.", 'Otis Worldwide Corporation',
       'Occidental Petroleum Corporation', 'Paycom Software Inc.',
       'Paychex Inc.', "People's United Financial Inc.", 'PACCAR Inc',
       'Healthpeak Properties Inc.',
       'Public Service Enterprise Group Inc', 'Penn National Gaming Inc.',
       'PepsiCo Inc.', 'Pfizer Inc.', 'Principal Financial Group Inc.',
       'Procter & Gamble Company', 'Progressive Corporation',
       'Parker-Hannifin Corporation', 'PulteGroup Inc.',
       'Packaging Corporation of America', 'PerkinElmer Inc.',
       'Prologis Inc.', 'Philip Morris International Inc.',
       'PNC Financial Services Group Inc.', 'Pentair plc',
       'Pinnacle West Capital Corporation', 'Pool Corporation',
       'PPG Industries Inc.', 'PPL Corporation',
       'Prudential Financial Inc.', 'Public Storage', 'Phillips 66',
       'PTC Inc.', 'PVH Corp.', 'Quanta Services Inc.',
       'Pioneer Natural Resources Company', 'PayPal Holdings Inc.',
       'Qualcomm Inc', 'Qorvo Inc.', 'Royal Caribbean Group',
       'Everest Re Group Ltd.', 'Regency Centers Corporation',
       'Regeneron Pharmaceuticals Inc.', 'Regions Financial Corporation',
       'Robert Half International Inc.', 'Raymond James Financial Inc.',
       'Ralph Lauren Corporation Class A', 'ResMed Inc.',
       'Rockwell Automation Inc.', 'Rollins Inc.',
       'Roper Technologies Inc.', 'Ross Stores Inc.',
       'Republic Services Inc.', 'Raytheon Technologies Corporation',
       'SBA Communications Corp. Class A', 'Signature Bank',
       'Starbucks Corporation', 'Charles Schwab Corporation',
       'SolarEdge Technologies Inc.', 'Sealed Air Corporation',
       'Sherwin-Williams Company', 'SVB Financial Group',
       'J.M. Smucker Company', 'Schlumberger NV', 'Snap-on Incorporated',
       'Synopsys Inc.', 'Southern Company', 'Simon Property Group Inc.',
       'S&P Global Inc.', 'Sempra Energy', 'STERIS Plc',
       'State Street Corporation', 'Seagate Technology Holdings PLC',
       'Constellation Brands Inc. Class A', 'Stanley Black & Decker Inc.',
       'Skyworks Solutions Inc.', 'Synchrony Financial',
       'Stryker Corporation', 'Sysco Corporation', 'AT&T Inc.',
       'Molson Coors Beverage Company Class B',
       'TransDigm Group Incorporated',
       'Teledyne Technologies Incorporated', 'Bio-Techne Corporation',
       'TE Connectivity Ltd.', 'Teradyne Inc.',
       'Truist Financial Corporation', 'Teleflex Incorporated',
       'Target Corporation', 'TJX Companies Inc',
       'Thermo Fisher Scientific Inc.', 'T-Mobile US Inc.',
       'Tapestry Inc.', 'Trimble Inc.', 'T. Rowe Price Group',
       'Travelers Companies Inc.', 'Tractor Supply Company', 'Tesla Inc',
       'Tyson Foods Inc. Class A', 'Trane Technologies plc',
       'Take-Two Interactive Software Inc.', 'Twitter Inc.',
       'Texas Instruments Incorporated', 'Textron Inc.',
       'Tyler Technologies Inc.', 'Under Armour Inc. Class C',
       'Under Armour Inc. Class A', 'United Airlines Holdings Inc.',
       'UDR Inc.', 'Universal Health Services Inc. Class B',
       'Ulta Beauty Inc', 'UnitedHealth Group Incorporated',
       'Union Pacific Corporation', 'United Parcel Service Inc. Class B',
       'United Rentals Inc.', 'U.S. Bancorp', 'Visa Inc. Class A',
       'V.F. Corporation', 'ViacomCBS Inc. Class B',
       'Valero Energy Corporation', 'Vulcan Materials Company',
       'Vornado Realty Trust', 'Verisk Analytics Inc', 'VeriSign Inc.',
       'Vertex Pharmaceuticals Incorporated', 'Ventas Inc.',
       'Viatris Inc.', 'Verizon Communications Inc.',
       'Westinghouse Air Brake Technologies Corporation',
       'Waters Corporation', 'Walgreens Boots Alliance Inc',
       'Western Digital Corporation', 'WEC Energy Group Inc',
       'Welltower Inc.', 'Wells Fargo & Company', 'Whirlpool Corporation',
       'Waste Management Inc.', 'Williams Companies Inc.', 'Walmart Inc.',
       'W. R. Berkley Corporation', 'WestRock Company',
       'West Pharmaceutical Services Inc.', 'Weyerhaeuser Company',
       'Wynn Resorts Limited', 'Xcel Energy Inc.', 'Xilinx Inc.',
       'Exxon Mobil Corporation', 'DENTSPLY SIRONA Inc.', 'Xylem Inc.',
       'Yum! Brands Inc.', 'Zimmer Biomet Holdings Inc.',
       'Zebra Technologies Corporation Class A',
       'Zions Bancorporation N.A.', 'Zoetis Inc. Class A'], dtype=object)

In [34]:
sp500['company_y'].nunique()

499

In [60]:
dates='2016-02-16T00:00:00Z'

In [63]:
def clean_dates (date):
    a, b=date.split('T')
    return a

In [64]:
data2=

'2016-02-16'

In [27]:
a, b=time.split('T')
a

'2016-02-16'

In [22]:
data5 = pd.to_datetime(data['datetime'], errors='coerce')

In [28]:
data.isna().sum()

datetime       0
open_price     0
close_price    0
volume         0
symbol         0
dtype: int64

In [24]:
data.dtypes

datetime        object
open_price     float64
close_price    float64
volume           int64
symbol          object
dtype: object

In [4]:
data4['SECTOR'].value_counts()

Information Technology    75
Industrials               73
Financials                67
Health Care               64
Consumer Discretionary    61
Consumer Staples          32
Real Estate               29
Utilities                 28
Materials                 28
Communication Services    27
Energy                    21
Name: SECTOR, dtype: int64

In [19]:
data3= pd.read_excel("SP_data_from_2020-01-01_to_2022-02-03.xlsx", engine="openpyxl")